<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escola Rossum</title>
</head>
<body>
    <h1>Escola Rossum</h1>
    <h3>Endereco:   Rua 2 de setembro, 4999</h3>
    <h3>Bairro:  Itoupava norte</h3>
    <h3>Cidade/UF: Blumenau - SC</h3>
    <h3>CEP: 89012-500</h3>
    <h3>Telefone: (47)3662-1000 / (47)99999-999</h3>


</body>
</html>

