{% extends "template.html" %}
{%block conteudo%}
<table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Altura</th>
                <th></th>
            </tr>
        <thead>
        <tbody>
        {% for pessoa in pessoas %}
            <tr>
                <td><i>{{pessoa.Nome}}</i></td>
                <td><i>{{pessoa.Idade}}</i></td>
                <td><i>{{pessoa.Altura}}</i></td>
                <td>
                    <a href="{{url_for('editar', id=pessoa.id ) }}">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{%endblock%}
   